.leaderboard-container {
  background: linear-gradient(to right, #ffffff, #f8f9fc);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.leaderboard-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.leaderboard {
  display: flex;
  flex-direction: column;
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.header-rank {
  text-align: center;
  width: 30%;
}

.header-userID {
  width: 60%;
  text-align: center;
}

.header-name {
  width: 60%;
  text-align: center;
}

.header-score {
  text-align: center;
  width: 30%;
}
